<header class="navbar navbar-expand-lg">
    <div class="container justify-content-between">
      <a href="#" class="navbar-brand">Nombre del sitio</a>
      <ul class="navbar-nav">
        <li class="nav-item"><a href="#" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Acerca de</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Servicios</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
      </ul>
      <button class="btn btn-primary btn-login">Iniciar sesión</button>
      <button class="btn btn-outline-light btn-profile">Perfil</button>
    </div>
  </header>