


      <section class="bg-white p-3 h-100">
        <div class="row">
          <div class="col-8">
            <h2 class="section-title">Specialties</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        
            <h2 class="section-title">Work Experience</h2>
 
                <ul>
                    <li> 
                        <h1>Consultor Externo </h1> 
                        <h3> 2020 - 2010</h3>
                        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aperiam magni, nam saepe, voluptates iusto repellend
                        </P>
                    </li>
                </ul>
                <ul>
                    <li> 
                        <h1>Responsable Gestion Ambiental</h1> 
                        <h3> 2020 - 2010</h3>
                        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aperiam magni, nam saepe, voluptates iusto repellendus, veritatis modi voluptas ipsam cumque facere. Unde libero accusantium ipsa tenetur vero explicabo labore?
                        </P>
                    </li>
                </ul>
                <ul>
                    <li> 
                        <h1>Analista Contable </h1> 
                        <h3> 2020 - 2010</h3>
                        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aperiam magni, nam saepe, voluptates iusto repellendus, veritatis modi voluptas ipsam cumque facere. Unde libero accusantium ipsa tenetur vero explicabo labore?
                        </P>
                    </li>
                </ul>
        
            <h2 class="section-title">Skills</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

            <div class="skill-matrix">
                <div class="row">
                  <div class="col">Skill 1</div>
                  <div class="col skill-level-1"></div>
                  <div class="col skill-level-2"></div>
                  <div class="col skill-level-3"></div>
                  <div class="col skill-level-4"></div>
                  <div class="col skill-level-5"></div>
                </div>
                <div class="row">
                  <div class="col">Skill 2</div>
                  <div class="col skill-level-2"></div>
                  <div class="col skill-level-3"></div>
                  <div class="col skill-level-4"></div>
                  <div class="col skill-level-5"></div>
                  <div class="col skill-level-1"></div>
                </div>
                <div class="row">
                  <div class="col">Skill 3</div>
                  <div class="col skill-level-4"></div>
                  <div class="col skill-level-5"></div>
                  <div class="col skill-level-2"></div>
                  <div class="col skill-level-1"></div>
                  <div class="col skill-level-3"></div>
                </div>
              </div>

          </div>
        </div>
      </section>




