<section class="bg-white p-3 h-100">
  <div class="row">
    <div class="col-12">
      <!-- Creo una de diez para ordenarlo  -->
      <div class="centrar col-10">
        <!-- Specialties -->
        <h2 class="section-title text-center">Soft Skills</h2>

        <div class="specialties-grid">
          <div class="specialty-item">
            <img
              src="../../../assets/SoftSkills/Autodidact.png"
              alt="Autodidact"
            />
            <p>Autodidact</p>
          </div>

          <div class="specialty-item">
            <img
              src="../../../assets/SoftSkills/comunication.png"
              alt="Comunication"
            />
            <p>Comunication</p>
          </div>
          <div class="specialty-item">
            <img
              src="../../../assets/SoftSkills/Flexibility.png"
              alt="Flexibility"
            />
            <p>Flexibility</p>
          </div>

          <div class="specialty-item">
            <img src="../../../assets/SoftSkills/network.png" alt="Network" />
            <p>Network</p>
          </div>
          <div class="specialty-item">
            <img
              src="../../../assets/SoftSkills/Responsibility.png"
              alt="Responsablity"
            />
            <p>Responsablity</p>
          </div>
          <div class="specialty-item">
            <img
              src="../../../assets/SoftSkills/team_spirit.png"
              alt="Team Spirit"
            />
            <p>Team Spirit</p>
          </div>
        </div>

        <!-- Start Work Div -->
        <div class="work">
          <h2 class="section-title text-center">Professional Background</h2>

          <ul>
            <li>
              <h2>Bootcamp MindHub Desarrollador Web Front End</h2>
              <h2>2023 - 240 hs</h2>
              <P
                >Develop responsive web applications using HTML5, CSS3, and
                Javascript, using the most commonly used frameworks and
                integrating third-party APIs
              </P>
            </li>
          </ul>
          <ul>
            <li>
              <h2>Big Data by Codo a Codo 4.0</h2>
              <h2>2022 - 208 hs</h2>
              <P>
                Automate common tasks. Handle files and data sheets efficiently.
                Represent information graphically in a simple way. Tools: Python
                - Data Studio - Pandas - Google Colab
              </P>
            </li>
          </ul>
          <ul>
            <li>
              <h2>Freelance Administrative and Accounting Consulting.</h2>
              <h2>2023-2007</h2>

              <p>General Administrative and Accounting Tasks.</p>
              <p>Optimization of Operational Processes.</p>
              <p>Investment Projects.</p>
            </li>
          </ul>
        </div>
        <h2 class="section-title text-center">Tools IT</h2>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <tbody class="tools_it">
      <tr>
        <td class="name">Python</td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="name">JavaScript</td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="name">SQL</td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td></td>
      </tr>
      <tr>
        <td class="name">HTML5</td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="name">CSS</td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td></td>
      </tr>

      <tr>
        <td class="name">Django</td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="name">Angular</td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td class="fill"></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </div>
</section>
