p {
    font-size: 18px;
    font-weight: bold;
  }
.img-cv{
  transform: scaleX(-1);
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.img-fluid {
    border-radius: 15%;
    width:90% ;
  }

.social_media {
    text-align: center;
    margin-bottom: 450px;
  }
  
  .social_media img {
    background-color: black;
   
    width: 50px;

    margin: 0 10px;
    margin-top: 15px;
  }

  .language{
    margin-top: 100px;
    margin-bottom: 200px;
  }